---
// import CardLaunch from "./CardLaunch.astro";
import projects from "../services/data"
import CardProject from "./CardProject.astro";

console.log(projects)
---

<section class="grid gap-4 bg-gray-700 my-10 text-white px-5 py-2 sm:grid-cols-2 lg:grid-cols-3 mx-auto">
    <div class="sm:col-span-2 lg:col-span-3 text-center">
        <h1>NUESTROS PROYECTOS</h1>
    </div>
    {
        projects.map(({ id, details, projectName, success }) => (
            <CardProject 
                id={id}
                details={details}
                projectName={projectName}
                success={success}
            />
        ))
    }
    
</section>